/* Start Variables */

:root {
    --body-color: #F4F5F8;
    --container-color: #FEFEFE;
    --main-color: #C99E7C;
    --light-main: #d27a36b6;

    /* for buttons */
    --first-color: #fff;
    --secondary-color: #5E6F7E;

    /* for texts */
    --text-color: #4D5F71;
    --paragraph-color: #8F9BA5;

    /* Main Padding */
    --mainPadding: 90px;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --color-light: rgba(132, 139, 200, .18);

    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
}

.dark-theme {
    --body-color: #222332;
    --container-color: #2A2B3F;
    --main-color: #c99e7c;

    /* for buttons */
    --first-color: #fff;
    --secondary-color: #DADAEB;

    /* for texts */
    --text-color: #DADAEB;
    --paragraph-color: #A7A7B8;
}


/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
}

html {
    scroll-behavior: smooth;
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: var(--body-color);
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    /* background: red; */
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--text-color);
}

h2 {
    font-size: 1.4rem;
    color: var(--text-color);
}

h3 {
    font-size: .87rem;
    color: var(--text-color);
}

h4 {
    font-size: .8rem;
    color: var(--text-color);
}

h5 {
    font-size: .77rem;
    color: var(--text-color);
}

small {
    font-size: .75rem;
    color: var(--paragraph-color);
}

.profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted {
    color: var(--paragraph-color);
}

p {
    color: var(--paragraph-color);
}

b {
    color: var(--text-color);
}

.primary {
    color: var(--main-color);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

/* End Global Rules */

/* Start Aside  */
aside {
    height: 100vh;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo {
    display: flex;
    gap: .8rem;
    align-items: center;
}

aside .logo img {
    width: 2rem;
    height: 2rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    /* background-color: #222332; */
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--text-color);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    background-color: var(--container-color);
    color: var(--main-color);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background: var(--main-color);
}

aside .sidebar a.active span {
    margin-left: calc(1rem - 6px);
}

aside .sidebar a:hover {
    color: var(--main-color);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

/* End Aside  */

/* MAIN  */
main {
    margin-top: 1.4rem;
}

main .date {
    display: inline-block;
    background: var(--container-color);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: .5rem 1.6rem;
}

main .date input[type="date"] {
    background-color: transparent;
    color: var(--text-color);
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights>div {
    background-color: var(--container-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights>div:hover {
    box-shadow: none;
}

main .insights>div span {
    background: var(--main-color);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--first-color);
    font-size: 2rem;
}

main .insights>div.expenses span {
    background: var(--color-danger);
}

main .insights>div.income span {
    background: var(--color-success);
}

main .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h3 {
    margin: 1rem 0 .6rem;
    font-size: 1rem;
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: var(--main-color);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);

}

main .insights .sales svg circle {
    stroke-dasharray: 200;
    stroke-dashoffset: -30;
}

main .insights .expenses svg circle {
    stroke-dasharray: 80;
    stroke-dashoffset: 20;
}

main .insights .income svg circle {
    stroke-dasharray: 110;
    stroke-dashoffset: 35;
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small {
    margin-top: 1.3rem;
    display: block;
}

/* RECENT ORDERS */
main .recent-orders {
    margin-top: 2rem;
}

main .recent-orders h2 {
    margin-bottom: .8rem;
}

main .recent-orders table {
    background: var(--container-color);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    color: var(--text-color);
}

main .recent-orders table thead tr th {
    text-transform: uppercase;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--paragraph-color);
    color: var(--text-color);
}

main table tbody tr:last-child td {
    border: none;
}

main table tbody a {
    margin-inline: 5px;
}

/* RIGHT */
.right {
    margin-top: 1.4rem;
}

.right .top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme-toggler {
    background: var(--container-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--paragraph-color);
}

.right .theme-toggler span.active {
    background-color: var(--secondary-color);
    color: var(--first-color);
    border-radius: var(--border-radius-1);
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

/* RECENT UPDATES  */
.right .recent-updates {
    margin-top: 1rem;
}

.right .recent-updates h2 {
    margin-bottom: .8rem;
}

.right .recent-updates .updates {
    background: var(--container-color);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
    box-shadow: none;
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* SALES ANALYTICS */
.right .sales-analytics {
    margin-top: 2rem;
}

.right .sales-analytics h2 {
    margin-bottom: .8rem;
}

.right .sales-analytics .item {
    background: var(--container-color);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
    box-shadow: none;
}

.right .sales-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .sales-analytics .item .icon {
    padding: .6rem;
    color: var(--first-color);
    background: var(--main-color);
    border-radius: 50%;
}

.right .sales-analytics .item.offline .icon {
    background: var(--color-danger);
}

.right .sales-analytics .item.customers .icon {
    background: var(--color-success);
}

.right .sales-analytics .add-product {
    background: transparent;
    border: 2px dashed var(--main-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.right .sales-analytics .add-product:hover {
    background-color: var(--main-color);

}

.right .sales-analytics .add-product div {
    display: flex;
    align-items: center;
    gap: .6rem;
}

.right .sales-analytics .add-product div h3 {
    font-weight: 600;
}

.right .sales-analytics .add-product:hover div h3,
.right .sales-analytics .add-product:hover div span {
    color: var(--first-color);
}

/* TABLETS MEDIA QUERIES */
@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-orders table {
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:nth-child(4) {
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:nth-child(4) {
        display: none;
    }
}

/* MOBILE MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--container-color);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-orders {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table {
        width: 100%;
        margin: 0;
    }

    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        padding: 0 0.8rem;
        height: 4.6rem;
        background: var(--container-color);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
    }

    .right .top .theme-toggler {
        width: 4.4rem;
        position: absolute;
        left: 66%;
    }

    .right .profile .info {
        display: none;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--text-color);
        position: absolute;
        left: 1rem;
    }

    .right .top button span {
        font-size: 2rem;
    }
}